body {
margin: 33px
}

table {
	width: 682px
}

.title {
	width: 176.5px;
	height: 24px;
	padding-bottom: 5px
}

.body {
	width: 368px;
	height: 24px;
	padding-bottom: 5px
}

th {
	padding-bottom: 5px
}